@charset "utf-8";
/* --------------------------------------------------------------------
  START - CSS Reset																	
 -------------------------------------------------------------------- */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	list-style:none;
}

/* --------------------------------------------------------------------
  END - CSS Reset																	
 -------------------------------------------------------------------- */

/* Embed Myriad Regular font IE 6-8*/
@font-face {
 font-family: MyriadP0;
 font-style:  normal;
 font-weight: normal;
 src: url('myriadp0-webfont.eot');
}

/* Embed Myriad Regular font FF, Ch, Sf, Op*/
@font-face {
 font-family: MyriadP0;
 font-style:  normal;
 font-weight: normal;
 src: url('MyriadP0.otf') format('opentype');
}
/***** Start BRONTO SITE FONT CSS STRUCTURE  *****/
body {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	background-color:#1A1A1A;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	color: #fff;
}
dl {
	font-size: 1em;
	color: #EAE6DF;
}
dt {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin:3px 0px 3px 0px;
	font-weight:normal;
	color: #ffffff;
}
dd {
	margin:3px 0px 2px 0px;
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color:#EAE6DF;
}
p {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height:1.55em;
	margin: 0px 0px 10px 0px;
	text-align:left;
	color: #EAE6DF;
}
h1 {
	font-family: MyriadP0, Verdana, sans-serif;
	font-size: 1.4em;
	font-weight:normal;
	text-align:left;
	margin:0px 0px 10px 0px;
	padding:0px;
	color: #ffffff;
	width:100%;
}
h2 {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin:0px 0px 5px 0px;
	font-weight:normal;
	text-align:left;
	color: #ffffff;
}
h3 {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin:0px 0px 5px 0px;
	font-weight:normal;
	text-align:left;
	color: #ffffff;
}
#mainConentDivrightCopy ul {
	text-align:left;
	margin:0px 0px 10px 20px;
}
.prices-li2 {
	margin:3px 0px 3px 10px;
}
li {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color:#EAE6DF;
	margin:3px 0px 3px 0px;
}
li a {
	color:#EAE6DF;
	text-decoration: none;
}
li a:hover {
	color: #FF6600;
	text-decoration: underline;
}
/***** END BRONTO SITE FONT CSS STRUCTURE  *****/

/***** Start BRONTO SITE CSS BASE STRUCTURE  *****/


#wrapper {
	width:100%;
	height:100%;
	text-align:center;
	margin: 0 auto;
}
#wrapper-newsPopup {
	width:auto;
	height:100%;
	text-align:left;
	margin: 10px;
	color: #EAE6DF;
}
#wrapper-newsPopup p {
	margin:3px 0px 3px 0px;
}
#header_container {
	margin: 0 auto;
	background: #EAE7E0;
	height:65px;
	width: 100%;
	text-align: center;
}
#header_container #header {
	width:955px;
	height:65px;
	text-align:center;
	margin: 0 auto;
}
#header_container #header_menu-left {
	color:#EAE7E0;
	float:left;
	height: 65px;
}
#header_container #header_menu-right {
	color:#EAE7E0;
	float:right;
	height: 65px;
	text-align:right;
}
#mainContent_container {
	width:100%;
	height:100%;
	margin: 0 auto;
	background-color:#000000;
}
#mainContent_container #mainContent {
	width:955px;
	height:100%;
	min-height:550px;
	margin: 0 auto;
}
#mainContent #divleft {
	width:152px;
	height:500px;
	float:left;
}
#mainContent #divleft ul {
	text-align:center;
	margin:20px 0px 0px 0px;
	list-style:none;
}
#mainContent #divleft li {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.20em; /*1.25em */
	margin-bottom:20px;
	list-style:none;
}
#mainContent #divright {
	width:803px;
	height:100%;
	float:left;
}
#mainContent #divright #mainConentDivrightCopy {
	margin: 19px 0px 0px 30px;
	width:430px;
	height: inherit;
	float:left;
	text-align:left;
}
#mainContent #divright #mainConentDivrightCopy1 {
	margin: 19px 0px 0px 30px;
	width:775px;
	height: inherit;
	float:left;
	text-align:left;
}
#mainContent #divright #mainConentDivrightCopy2 {
	width:422px;
	height:538px;
	margin: 19px 0px 0px 26px;
	height: inherit;
	float:left;
	text-align:left;
}
#mainContent #divright #mainConentDivrightCopyBon {
	width:422px;
	height:586px;
	margin: 19px 0px 0px 26px;
	height: inherit;
	float:left;
	text-align:left;
}
#mainContent #divright #mainConentDivrightCopyRev {
	width:422px;
	height:499px;
	margin: 19px 0px 0px 26px;
	height: inherit;
	float:left;
	text-align:left;/*border:#009933 1px solid;*/
}
#mainConentDivrightCopyWil {
	width:422px;
	height:557px;
	margin: 19px 0px 0px 26px;
	height: inherit;
	float:left;
	text-align:left;
}
#mainConentDivrightCopyFork {
	width:422px;
	height:547px;
	margin: 19px 0px 0px 26px;
	height: inherit;
	float:left;
	text-align:left;
}
.clearfix {
	margin:10px 0px 0px 0px;
	clear:both;
	font-size: 1px;
	height:3px;
	width:100%;
	background-color:#EAE7E0;
}
.clearfix2 {
	margin:0 auto;
	clear:both;
	font-size: 1px;
	height:0px;
	width:100%;
}
#footer_container {
	text-align:center;
	margin: 0 auto;
	background-color:#1A1A1A;
	width:100%;
	height:100%;
	color:#FFFFFF;
}
#footer_container #footer {
	width:955px;
	height:100%;
	text-align:center;
	margin: 0 auto;
}
#footer #footer-left-index {
	float:left;
	width:450px;
	height: inherit;
	margin:10px 0px 10px 180px;
	text-align:left;
	border-right:#4E4D4C 2px solid;
	padding-right:10px;
}
#footer #footer-left-index h1 {
	margin:0px 0px 10px 0px;
}
#footer #footer-left {
	float:left;
	width:240px;
	height: inherit;
	margin:10px 0px 10px 180px;
	text-align:left;
}
#footer #footer-mid {
	border-left:#4E4D4C 2px solid;
	border-right:#4E4D4C 2px solid;
	float:left;
	width:247px;
	height: inherit;
	margin:10px 0px 10px 10px;
	padding-left:10px;
	padding-bottom:10px;
	text-align:left;
}
#footer #footer-mid h1 {
	margin:0px 0px 0px 0px;
	padding:0px;
}
#footer #footer-right {
	float:left;
	width:240px;
	height: inherit;
	margin:10px 0px 10px 10px;
	padding-left:10px;
	padding-bottom:10px;
	text-align:left;
}
/***** END BRONTO SITE CSS BASE STRUCTURE  *****/
/***** Begin BRONTO SITE SUPPORTING CSS   *****/

/*/*  Bronto Site wide caption formating*/
.caption {
	text-align:center;
	margin-top:3px;
	letter-spacing: 1px;
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: .85em;
	font-style:italic;
}
.caption1 {
	text-align:center;
	margin-top:3px;
	letter-spacing: 1px;
	float:right;
	clear:right;
	width:240px;
	margin-bottom:10px;
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: .85em;
	font-style:italic;
}
.handmadesteelmtb {
	margin:10px 0px 2px 0px;
}
/* Main Navigation menu CSS styles */
#nav {
	margin:0px 0px 0px 0px;
	padding-top:9px;
	overflow:auto;s
}
#nav a {
	margin-left:20px;
	height:33px;
}
/**** IMAGE PLACEMENT CSS - clockwise order ****/


/**** BEGIN - IMAGE PLACEMENT CSS - clockwise order  index.php****/
.indexImg1 {
	margin: 20px 0px 5px 26px;
	float:left;
}
.indexImg2 {
	margin: 20px 0px 5px 10px;
	float:left;
	clear:right;
}
.indexImg3 {
	margin: 5px 0px 0px 26px;
	float:left;
}
.indexImg4 {
	margin: 5px 0px 0px 10px;
	float:right;
	clear:right;
}
/**** END - IMAGE PLACEMENT CSS - clockwise order  index.php****/
.revImg1 {
	margin: 19px 0px 0px 0px;
	float:right;
	clear:right;
}
.revImg2 {
	margin: 10px 0px 0px 0px;
	float:right;
	clear:right;
}
.revImg3 {
	margin: 10px 0px 10px 26px;
	float:left;
}
.revImg4 {
	margin: 10px 0px 10px 10px;
	float:right;
	clear:right;
}
.revImg5 {
	margin: 0px 0px 10px 26px;
	float:left;
}
.revImg6 {
	margin: 0px 0px 10px 10px;
	float:right;
	clear:right;
}
/**** BEGIN - IMAGE PLACEMENT CSS - clockwise order  craft,order,about.php****/

.craftImg1 {
	margin: 20px 0px 0px 0px;
	float:right;
	clear:right;
}
.craftImg2 {
	margin: 10px 0px 0px 0px;
	float:right;
}
.craftImg3 {
	margin: 10px 0px 10px 0px;
	float:right;
	clear:right;
}
/**** END - IMAGE PLACEMENT CSS - clockwise order  craft,order,about.php****/

.indexImg2aa {
	margin: 19px 0px 0px 0px;
	float:right;
	clear:right;
}
.indexImg3aa {
	margin: 0px 0px 10px 0px;
	float:right;
}
.indexImg4aa {
	margin: 0px 0px 5px 0px;
	float:right;
	clear:right;
}
.indexImg5 {
	margin: 0px 0px 10px 26px;
	float:left;
}
.indexImg6 {
	margin: 0px 0px 10px 10px;
	float:right;
	clear:right;
}
.indexImg7 {
	margin: 0px 0px 10px 26px;
	float:left;
}
.indexImg8 {
	margin: 0px 0px 10px 10px;
	float:right;
	clear:right;
}
/**** FOOTER RIGHT Paragraph CSS ****/
#footer-left p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	text-align:left;
}
#footer-left a, #mainConentDivrightCopy a, #mainConentDivrightCopy2 a, #mainConentDivrightCopyRev a, #mainConentDivrightCopyWil a {
	color:#EAE6DF;
	text-decoration: none;
}
#footer-left a:hover, #mainConentDivrightCopy a:hover, #mainConentDivrightCopy2 a:hover, #mainConentDivrightCopyRev:hover a:hover, #mainConentDivrightCopyWil a:hover {
	color: #FF6600;
	text-decoration: underline;
}
/* RSSReader.php CSS Styles for ul, li and a html tag*/
.latesBlogPosts {
	margin:0px 0px 0px 0px;
}
#linkfeed, #rss, #flickrfeed {
	/*border: #33FF00 1px solid;*/
	margin:0px;
	padding:0px;
}
#linkfeed h3, #rss h3, #flickrfeed h3 {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin:10px 0px 0px 0px;
	font-weight:normal;
	text-align:left;
	color: #ffffff;
}
#linkfeed ul, #rss ul {
	list-style:none;
	margin:10px 0px 0px 0px;
	padding:0px;
}
#linkfeed .blinks, #rss .blinks {
	list-style:none;
	margin:0px 0px 0px 5px;
	padding:0px;
}
#linkfeed li, #rss li {
	margin:5px 0px 5px 0px;
	list-style:none;
}
#footnote {
	color:#666666;
	font-size:.75em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:20px 0px 20px 0px;
}
/* --------------------------------------------------------------------
  START - Flickr Feed CSS																	
 -------------------------------------------------------------------- */

/* The images styling is needed to turn the <ul> into a 3x3 grid */

#flickrfeed #images {
	padding:0px;
	margin:15px 0px 0px 0px;
	height:243px;
	width:243px;
	overflow:hidden;/*border:#00FF33 1px solid;*/
}
#flickrfeed #images ul {
	list-style:none;
	float:left;
	padding:0px;
	margin:0px;
}
#flickrfeed #images ul li {
	display:inline;
}
#flickrfeed #images ul li img {
	border:none;
	padding:0 6px 6px 0;
	width:75px;
	height:75px;
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}
#flickrfeed #images ul li img:hover {
	opacity:1.0;
	-moz-opacity:1.0;
	filter:alpha(opacity=100);
}
#footer #footer-right .youtube {
	margin-top:25px;
}
.youtube ul {
	margin:10px 10px 10px 0px;
}
.youtube li {
	display:inline;
	margin: 0px 5px 0px 0px;
}
#footer #footer-right .youtube a {
	color:#EAE6DF;
	text-decoration: none;
}
#footer #footer-right .youtube a:hover {
	color: #FF6600;
	text-decoration: underline;
}
/* --------------------------------------------------------------------
  START - Twitter Feed CSS																	
 -------------------------------------------------------------------- */
 .twitContent {
	margin:25px 0px 0px 0px;
	padding:0px;
}
.twitContent li {
	margin:0px 0px 0px 0px;
	padding:0px;
}
.twitMsg {
}
.xyz {
	font-size:9px;
}
.pubDate {
	font-style:italic;
	font-size:smaller;
	color:#FF6600;
}
.pubDate:hover {
	text-decoration:underline;
}
.via {
	font-size:smaller;
	margin-left:10px;
}
.source {
	font-size:smaller;
	margin-left:10px;
}
 
/*#twitfeed { margin:0px 0px 0px 0px;}
#birdnapping { margin:0px 0px 0px 0px; position:relative;}
#twitfeed #birdnapping ol { margin:10px 0px 0px 0px;}
#twitfeed #birdnapping li {
	margin:10px 0px 5px 0px;
	list-style:none;
	}
#twitfeed ul {
	margin:10px 0px 5px 0px;
	list-style:none;
	}
#birdnapping span.entry-meta{display:block;font-style:italic;font-size:smaller;}
#birdnapping .follow {}
#birdnapping .entry-content a{ font-style:italic; font-size:smaller;}
#birdnapping .entry-date { color:#FF6600;}
#birdnapping .meta-data{ background-color:#1A1A1A; height:0px;}
*/

/* --------------------------------------------------------------------
  END - Twitter Feed CSS																	
 -------------------------------------------------------------------- */
