@charset "utf-8";


/* CSS Document */

#divRightTopCol p {
	width:350px;
	
}


/*#birdnapping .entry-content a {
	font-style:italic;
	font-size: 8px;
}
.twitMsg {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}*/
/*#mainContent, #mainConentDivrightCopy p, #mainConentDivrightCopy2 p, #mainConentDivrightCopyRev p, #mainConentDivrightCopyWil p, #mainConentDivrightCopyBon p, #mainConentDivrightCopyFork p {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: .95em;
	color: #ffffff;
	margin: 0px 0px 10px 0px;
	text-align:left;
}*/
/*	font-family: Verdana, Arial, Helvetica, sans-serif;
h1 {
	font-size: 1.1em;
	margin:0px 0px 0px 0px;
	font-weight: bold;
	color: #ffffff;
}*/
/*h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin:10px 0px 0px 0px;
	color: #EAE6DF;
}*/
/*#mainConentDivrightCopy ul {
	text-align:left;
	margin:0px 0px 10px 20px;
}
*/
/*#mainConentDivrightCopy li {
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: .89em;
	color:#EAE6DF;
}*/

/*#popupContact h3 {
	text-align:left;
	color: #FFFFFF;
	font-size: 1.0em;
	font-weight:bold;
	padding-bottom:2px;
	margin:10px 0px 10px 0px;
}
*/
/*#popupContact li {
	margin:0px 0px 2px 0px;
	font-family: MyriadP0, Verdana, Arial, Helvetica, sans-serif;
	font-size: .90em;
	line-height:1.55em;
	text-align:left;
}*/

/*li {
margin:10px 0px 5px 2px;*/
	/*font-family: Arial, Helvetica, sans-serif;
	font-size: .89em;
	font-weight:bold;
	color:#EAE6DF;
	margin:3px 0px 3px 0px;
}*/
