#fade {
	/* background: none repeat scroll 0 0 #000000;*/
    background-image: url("../images/background.png");
	display: block;
	height: 100%;
	left: 0;
	/*opacity: 0.90;*/
    	position: fixed;
	top: 0;
	width: 100%;
	z-index: 7777;
}
.popup_block {
	background: #000;/*#1A1A1A*/
	border: 2px solid #E6DEC8;
	border-radius: 5px 5px 0 0;
	box-shadow: 10px 10px 20px #000000;
	display: none;
	font-size: 1em;
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 8888;
}
.popupTitleBar {
	background-color: #EAE7E0;
	border-radius: 2px 2px 0 0;
	height: 25px;
	margin-bottom: 10px;
	width: 100%;
	text-align: left;
}
.popupTitleBar h2 {
	height: 25px;
	background-color: #EAE7E0;
	color:#000;
}
.popupContent {
	width: 630px;
	padding:10px;
}

/*.popup_block p {
    padding: 0 10px 10px;
     font-weight:bold;
      font-family: Arial,Helvetica,sans-serif;
}*/

/*.closeBtn{
position: absolute;
right:0px;
top:0px;
z-index: 9999;
}*/

.btn_close {
	background-image: url("../images/close_over.png");
	background-position: center;
	background-repeat: no-repeat;
	color: #000;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	height: 25px;
	margin-right: 5px;
	position: absolute;
	right:0px;
	top:0px;
	width: 25px;
	z-index: 9999;
	display:block;
	
}
.btn_close:hover {
	background-image: url("../images/close.png");
	background-position: center center;
	background-repeat: no-repeat;
	color: #999;
	cursor: pointer;
}
.popupContent ul {
	margin: 0 0 10px 0px;
}
.popupContent li {
	line-height: 1.35em;
	list-style: disc outside none;
	margin: 0 0 2px 20px;
	text-align: left;
}

#XMLDataTable {
	border:#666666 1px solid;
	white-space:normal;
	border-collapse:collapse;
	margin: 10px 0px 10px 0px;
}
#XMLDataTable th {
	border: #666666 1px solid;
	color: #fff;
	font-size: 0.75em;
	font-weight:normal;
	padding:3px 0px 3px 0px;
}
#XMLDataTable td {
	border: #666666 1px solid;
	white-space:nowrap;
	font-size: 0.75em;
	text-align:center;
	padding:3px 0px 3px 0px;
	
}

.colorList {
	float:left;
	width:200px;
	height:auto;
	}
